<div class="widgets">

  <div class="horizontal-scroll">
    <table class="table table-hover">
      <thead>
        <tr class="black-muted-bg"> 
          <th>Cliente</th>
          <th class="align-left">Contacto</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients" class="no-top-border" (click)="onSelect(client)"> 
          <td ngClass="nowrap">{{client.name}}</td>
          <td class="align-left">{{client.email}}</td> 
        </tr>
      </tbody>
    </table>
  </div>

</div>