<div class="widgets">
    <div class="row">
        <div class="col-md-5">
            <div>
                <ba-card title="Cliente" baCardClass="with-scroll">

                    <div class="form-group">
                        <label for="clientName">Nombre</label>
                        <input type="text" class="form-control" id="clientName" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="clientMail">Email</label>
                        <input type="email" class="form-control" id="clientMail" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="submit" class="btn btn-danger">Cancelar</button>
                </ba-card>
            </div>

        </div>
    </div>
</div>